body, html{
    height:auto;   
    display: grid;
}

#banner-img{
    background-image: url(images/pagebanner-default.jpg);
     width: 100%; 
     height: 300px; 
     position: relative; 
}

#banner-title {
    position:static; 
    flex: none; 
    order: 0; 
    flex-grow: 0; 
    margin: 0px 0px; 
    text-align: center;
    font-size:48px; 
    padding-top:85px; 
    width: 1600px; 
    height: 300px; 
    line-height: 125%;
}

#bio-card {
    position: absolute; 
    width: 1006px;
    height:1092px; 
    top: 572px; 
    left:25%; 
    background: #FFFFFF;
    visibility: hidden;
}

#bio-card:focus {
    background-color: rgb(230, 219, 243);
    border-color: #3f3288;
    transition: border-color .4s, background-color .4s;
}

#bio-img {
    position:absolute; 
    top:15%; 
    width:370px; 
    left:55%; 
    height:420px;
}

#bio-link:hover {
    text-decoration-line: underline;
}

#nav-links:hover {
    text-decoration-line: underline;
}
#bio_title{
    color: #2541D4; 
    font-size:24px;
}

#card-title {
    color:#2541D4; 
    font-size:14px;
    line-height:22.4px;
}

#bio-info {
    padding-left: 10%;
}

#card{
    position:static; 
    display:flex; 
    flex-direction:column; 
    width:370px; 
    height:616px;
}
.card-image{
    position: static; 
   
}



@media screen and (max-width: 1024px) {
    body, html{  
        overflow-y: auto;
        overflow-x: hidden;
       }
    
       #banner-img{
        background-image: url(images/pagebanner-default.jpg);
         width: 100%; 
         height: 300px; 
         position: relative; 
    }

       #banner-title {
        flex: none; 
        order: 0; 
        flex-grow: 0; 
        margin: 0px 0px; 
        font-size:48px; 
        padding-top:85px; 
        width: 1700px; 
        height: 300px; 
        line-height: 125%;
    }
    #bio-card{
        left: 0%;
    }
}

@media screen and (max-width: 600px) {
    body, html{
          
        overflow-y: auto;
        overflow-x: hidden;
       }

       #banner-img{
        background-image: url(images/pagebanner-default.jpg);
         width: 100%; 
         height: 300px; 
         position: relative; 
    }

       #banner-title {
        flex: none; 
        order: 0; 
        flex-grow: 0; 
        margin: 0px 0px; 
        font-size:48px; 
        padding-top:85px; 
        height: 300px; 
        line-height: 125%;
    }
}